	<%-include('navbar')%>
    
        <main class="content">
				<div class="container-fluid admin-page-container p-0">

					<h1 class="h3 mb-3"><strong>Welcome To Admin Dashboard <%= admin ? admin.admin_name : "Guest" %></strong></h1>

				
				

					

				</div>
			</main>
	<%-include('footer')%>
